@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

.home-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4em;
    color: rgba(0, 0, 0, 0);
    color: #fff;
    text-align: center;
    text-justify: inter-word;
}


.home-text__cursor{
    position: relative;
    bottom: 5px;
    font-size: 4em;
    color: #fff;
    animation: blink-caret 1500ms step-end infinite;
}
@keyframes blink-caret {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}  